{% load staticfiles %}

<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock title %}</title>

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- FONTS
  _________________________________________________ -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600&amp;subset=cyrillic" rel="stylesheet">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{% static 'assets/setka.css' %}">
  <link rel="stylesheet" href="{% static 'assets/base.css' %}">
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css">

</head>
<body>
  <div class="page">
    <div class="section">
      <div class="container breadcrumbs">
        <a class="breadcrumbs__item link link_blue" href="/">{{ site.title }}</a>
        {% block breadcrumbs %}{% endblock breadcrumbs %}
      </div>
    </div>

    {% block content %}{% endblock content %}

    {% include 'core/footer.html' %}
  </div>
</body>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> <!-- jQuery 33 KB -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script> <!-- 16 KB -->

{% block scripts %}{% endblock scripts %}

</html>
