{% extends 'core/base.html' %}

{% block title %} {{ article.title }} {% endblock title %}

{% block breadcrumbs %}
  &rarr; <a href="/news" class="breadcrumbs__item link link_blue">Новости и объявления</a>
  &rarr; <h1 class="breadcrumbs__item breadcrumbs__item_current">{{ article.title }}</h1>
{% endblock breadcrumbs %}

{% block content %}
  <div class="section article">
    <div class="container">
      <div class="row">
        <div class="row__col row__col_size_twelve">
          <div class="article__title title title_xl">{{ article.title }}</div>
          <div class="article__date text_gray">{{ article.created_at }}</div>

          <div class="article__announcement">
            <p class="text">{{ article.announcement|striptags }}</p>
          </div>

          <div class="article__content">
            {% autoescape off %} {{ article.content }} {% endautoescape %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
