
<div class="section">
    <div class="container footer">
        <div class="row">
            <div class="row__col row__col_size_two-thirds row__col_offset_one-third">
                <div class="copyright">
                    <div class="copyright__title">&copy; {{ site.title }} {% now "Y" %}</div>
                    <div class="copyright__rights">При полном или частичном использовании материалов сайта ссылка обязательна.</div>
                    <div class="copyright__madeby">Сделал <a class="link link_gray" href="http://solopchenko.net" target="_blank">Святослав Солопченко</a> в 2017 году.</div>
                </div>
            </div>
        </div>
    </div>
</div>
